#container {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 90vh;
    position: relative;

    border: red 2px solid;
}

.left {
    border: black 2px solid;
    height: 80vh;
}

.right {
    border: black 2px solid;
    height: 80vh;
}

.create {
    height: auto;
    grid-column: 1 / 3;

    padding: 1%;
}