* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5DC;
}

body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100vh;
    position: relative;

}

.left {
    border-right: black 3px solid;
    height: 100vh;
    box-sizing: border-box;
}

.right {
    height: 100vh;
    box-sizing: border-box;
}

.create {
    height: auto;
    grid-column: 1 / 3;

    padding: 1%;
}

.todoFull {
    display: flex;
}

.itemBlock {
    border: white 4px solid;
    width: 10%;
    aspect-ratio: 1 / 1.5;
    padding: 1%;
    margin: 5px;
    border-radius: 0 20px 0 0;

    position: relative;
}

#delBtn {
    position: absolute;
    bottom: 0;
    right: 20px;
    border: brown 2px solid;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 1vh;
}

.left h1 {
    text-align: center;
}

.right h1 {
    margin-left: 20px;
}

.projectList h2 {
    margin-left: 15px;
}

.formBlock {
    margin-left: 15px;
}

.plusSign {
    border: rgb(190, 190, 190) 2px solid;
    width: 10%;
    aspect-ratio: 1 / 1.5;
    padding: 1%;
    margin: 5px;
    border-radius: 0 20px 0 0;
    font-size: 3vh;
    color: rgb(153, 153, 153);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plusSign h2 {
    margin: 0;
}

.plusBlock {
    border: white 4px solid;
    width: 10%;
    aspect-ratio: 1 / 1.5;
    padding: 1%;
    margin: 5px;
    border-radius: 0 20px 0 0;

    position: relative;
}

.left>h1,
.right>h1 {
    background-color: #FFBF00;
    margin: 0;
    padding: 20px;
    color: white;
}

.projectList>h2 {
    border-bottom: 2px solid gray;
    width: 80%;
}

#projectsForm>input {
    width: 15vh;
}

#itemForm>input {
    width: 90%;
    margin-bottom: 7px;
}